// 顶部&按钮颜色配置
$color-meta = #ff2700
// 进度条
$color-progress = #ffcc33
//首页边框颜色
// 背静灰
$color-bgcolor= #F2F2F2
// 普通字体颜色
$color-general-font = #333333
// 弱化字体颜色
$color-weaken-font = #cccccc
// 66颜色
$color-six-font = #666666
// 期号颜色
$color-issue-font =#999999
// 天空蓝
$color-sky-blue = #2057c7
// 成功绿
$color-success-green = #a2de2e
// 紫色
$color-violet = #c768f5
// 常用黄色
$color-yellow = #ffaa45

// 边框颜色
$color-border = #f5f5f5

$color-white = #ffffff