// 顶部meta字体大小
$font-meta = 0.36rem
// 顶部meta中间字体大小
$font-center = 0.4rem
// navbar字体大小
$font-navbar = 0.3rem
// 普通字体大小
$font-general = 0.3rem
// 列表title
$font-list-title = 0.3rem
// 大按钮
$font-big-btn = 0.4rem
// 强化字体大小
$font-intensify = 0.38rem // 加粗
// 最小字号
$font-small = 0.24rem
// 地址页面字体大小
$font-address = 0.3rem
